.section-splash.text-center
    .container
        .row
            .col-lg-12
                %h1.brand-heading DashFB
                %p.intro-text Manage Facebook Pages.
                %hr/
        / /.row
    / /.container
/ /.section-colored

%a{href: "/auth/login"}
    .section-color
        .container
            .col-md-12.text-center
                %h1.sign-up
                    Log in with Facebook
                    %i.fa.fa-arrow-circle-right